# Виртуальное окружение (папка с библиотеками, весит много, не нужна в репозитории)
venv/
.venv/
env/

# Скомпилированные файлы питона
__pycache__/
*.pyc

# СЕКРЕТЫ (обязательно!)
.env
.env.local
.idea

# Логи (если есть)
*.log